<div class="container-fluid main-container">
<div class="row justify-content-center">
<h1 class="title text-center">Eat-Da-Yummy-Burger!</h1>
  <br>
  <img src="assets\img\cuteburger.jpg" class="img-fluid" alt="yummy burger">
    </div>
  </div>


</div>

<div class="container-fluid main-container">
 <div class="row justify-content-center">
    <h4 class="title text-center">Enter A New Burger</h4>
 
<form class="create-form">
 {{!-- <div class="form-group form-inline justify-content-center"> --}}
 {{!-- <h4 class="title text-center">Burger Name:</h4> --}}
 <label for="burgername">Burger Name:</label>
 <input type="text" id="addnewburger" name="name">
 <button class="btn btn-secondary btn-sm" type="submit">Add Burger</button>
</form>
</div>
  </div>
 </div>  


<div class="container-fluid main-container" id="tables">
 <div class="row justify-content-center">

 <div class="col-4" id="column1">
  <h4 class="titles">Burgers patiently waiting to be devoured:</h4>
   {{#each burgers}}
    {{#unless devoured}}
     {{>burgers/burgerbutton devoured=false}}
    {{/unless}}
   {{/each}}
</ul>
</div>

 <div class="col-4" id="column2">
  <h4 class="titles">Burgers that have fulfilled their destiny!</h4>
   {{#each burgers}}
    {{#if devoured}}
     {{>burgers/burgerbutton devoured=true}}
    {{/if}}
   {{/each}}
</ul>
</div>

