body {
  background: #afe4d4;
}
#column1 {
 background: lightseagreen;
}
#column2 {
  background: rgb(126, 209, 126);
}

/* #NewBurger {
  margin-top: 25px;
  margin-bottom: 25px;
  margin-left: 80px;
  font-size: 25px;
} */
.img-fluid {
  width: 20%;
 } 

#tables{
  margin-top: 50px;
}

#button{
  justify-content: space-between;
  padding-top: 10px;
}
