body {
  background: #afe4d4;
}

#row1 {
  font-size: 22px;
  margin-top: 40px;
  margin-left: 350px;
}

#row2{
  margin-left: 470px;
}

#NewBurger {
  margin-top: 25px;
  margin-bottom: 25px;
  margin-left: 80px;
  font-size: 25px;
}

.img-fluid{
  width: 35%;
  margin-left: 135px;
  margin-right: auto;
}

#tables{
  margin-top: 50px;
}

#button{
  justify-content: space-between;
  padding-top: 10px;
}